<section class="jumbotron text-center">
  <div class="container">
    <div *ngIf="authorized; then proData else login"></div>
 <ng-template #login>
   <h2 class="jumbotron-heading marginBottom">Facebook and Google Social login</h2>
   <br/>
   <p class="lead text-muted marginBottom">Please sign in</p>
   <p>
     <button (click)="socialSignIn('facebook')" class="btn btn-primary my-2" style="margin-right:20px">Sign in with Facebook</button>
   <button (click)="socialSignIn('google')" class="btn btn-primary my-2">Signin in with Google</button>  
 </p>
</ng-template>  

<ng-template #proData>
  <h4 class="marginBottom">My {{user.provider}} profile</h4>
  <br/>
 <img [src]="user.photoUrl" class="marginBottom">
<div class="marginBottom">
 <h4>{{user.name}}</h4>
 <p>{{user.email}}</p>
</div> 
<button class="btn btn-danger" (click)="signOut()">Sign out</button>
</ng-template>
</div>
</section>

<div class="container">
  <div class="row py-5 justify-content-center">
   <div class="col-md-8">
    <h1 class="text-center py-4">Export Data to Excel Sheet in Angular 8</h1>
    <div class="col-md-12 table-responsive" #epltable>
     <div style="padding-bottom: 10px;padding-top: 10px;">
      <div class="row">
       <div class="col-sm-12">
        <button (click)="exportToExcel()" class="btn btn-success">Export To Excel</button> 
       </div>
      </div>
     </div>
     <table class="table table-bordered">
      <thead class="thead-dark">
      <tr>
       <th>Position</th>
       <th>Club</th>
       <th>Played</th>
       <th>Won</th>
       <th>Drawn</th>
       <th>Lost</th>
       <th>Points</th>
      </tr>
     </thead>
     <tbody>
      <tr *ngFor="let club of clubs">
       <td>{{club.position}}</td>
       <td>{{club.name}}</td>
       <td>{{club.played}}</td>
       <td>{{club.won}}</td>
       <td>{{club.drawn}}</td>
       <td>{{club.lost}}</td>
       <td>{{club.points}}</td>
      </tr>
     </tbody>
    </table>
   </div>
  </div>
 </div>
</div>